:root {
    --largerFont: 700;
    --mediumFont: 400;
    --smallFont: 100;
    --mainbackgroundColor: white;
    --titlebackgroundColor: lightblue;
    --textColor: white;  
    --navtextColor: black;
    --navHoverColor: lightblue;
    --classTakenColor: rgba(83, 33, 33, 0.767);
    --homeButton:blue;
}
html, body{
    height: 100%; /* Makes sure the body takes up the full height */

    display: flex; 
    flex-direction: column; /*Align items in a column */
}
header {
    display: grid;
    grid-template-columns: 50px auto 44px;
    background-color: var(--titlebackgroundColor);
    align-items: center;
}
header div {
    text-align: center;
}
/* top left website logo */
.websiteLogo {
    border-radius: 50%; 
}
/* navigation */
nav {
    display: grid;
    grid-template-rows: 0fr;
    background-color: var(--titlebackgroundColor);
    padding: 0; 
    margin: 0; 
    width: 100%; 
    transition: grid-template-rows 0.5s ease-out;
    text-align: center;
}
nav ul {
    overflow: hidden;
}
nav.open {
    grid-template-rows: 1fr;
}
#menuButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
}
#menuButton::before {
    content: "\2630";
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    text-decoration: none;
    color: var(--navBackgroundColor);
    
}
li.current-menu-item {
    background-color: rgba(0,0,0,0.2);
}

ul.menuLinks {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}
/* nav open and closed */
#menuButton.open::before{
    content: "x";

}
/* Main */
main {
    flex: 1;
}

main h2 {
    text-align: center;
}
.displaybuttons {
    text-align: center;
}
.business-table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2; /* Light gray background for header */
}
#cards {
 text-align: center;
 
}
.buissnessCard {
    border: 2px solid black; 
    border-radius: 5px;
    padding: 10px; 
    margin: 20px; 
}

.businessCard img {
    width: auto;
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
/* main home page */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto; 
}

#heroButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--homeButton);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#heroButton:hover {
    background-color: var(--homeButton);;
}

.middle-section, #boxes{
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    margin: 20px 0; 
}

.events, .current-weather, .weather-forecast, .box{
    flex: 1; 
    margin: 0 10px; 
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;    
}
.title, .box h3 {
    text-align: center;
    background-color: var(--titlebackgroundColor);
    padding: 5px;
}

.box {
    margin: 10px;
    text-align: center;
}







/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--titlebackgroundColor);  
    text-align: center;  
}
.footerSocial a{
    margin: 10px;
}

footer p {
    margin: 0.5rem 0;
}
