/* smaller screen */
@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Stack items on smaller screens */
        align-items: center; /* Center align items */
    }
    
    .footerChamberInfo, .footerSocial, .classStudentInfo {
        margin: 10px 0; /* Vertical margin for stacked items */
        text-align: center; /* Center text for better appearance */
    }
}


/* Larger screen */
@media only screen and (min-width: 38rem) {
    #menuButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }
    nav {
        grid-template-rows: 1fr;
    }


    ul.menuLinks a:hover {
        background-color: rgba(255,255,255,0.2);
    }

}